<mat-card class="content-card">
    @if (title()) {
    <mat-card-header class="content-card__header">
        <mat-card-title class="content-card__title">{{ title() }}</mat-card-title>
        @if (subtitle()) {
        <mat-card-subtitle class="content-card__subtitle">{{ subtitle() }}</mat-card-subtitle>
        }
        <div class="content-card__header-actions">
            <ng-content select="[header-actions]" />
        </div>
    </mat-card-header>
    }
    <mat-card-content class="content-card__body">
        <ng-content />
    </mat-card-content>
    @if (footer()) {
    <mat-card-footer class="content-card__footer">
        <ng-content select="[footer]" />
    </mat-card-footer>
    }
</mat-card>